@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800&family=Nunito:ital,wght@0,300;0,400;0,500;0,600;1,400&family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;

}

.ul-navbar {
    display: flex;
    gap: 32px;

}
img {
    max-width: 100%;
}

.btn-navbar:hover {
    color: aqua;
}

.container-top {
    padding-top: 100px;
}


h1 {
    padding-bottom: 80px;
    text-align: center;
}

p {
    color: #666;
    font-family: 'Public Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
}

.col-body {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.link-btn {
    display: flex;
    display: flex;
    padding: 12px 0px;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #2DB67D;

    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;



}


.img-hover1 {
    background-color: #2DB67D;
    color: white;
    position: absolute;
    top: 1180px;
    width: 528px;
    height: 350px;
    opacity: 0;
    display: flex;
    justify-content: center;

    align-items: center;
}


.img-hover1:hover {
    opacity: 0.8;
    transition: 2s;
}

.heading-hover {
    transition: transform 1s ease-in-out;
}

.heading-hover:hover {
    transform: translateX(10px) scale(2);
}



.col-body2 {
    display: flex;
    align-items: center;
    gap: 24px;

}


.email-input{
display: flex;
align-items: center;
    gap: 24px;
    width: 100%;

}

.btn1{
    color: white;
    background-color:#2DB67D;
    border: 2px transparent;
    display: flex;
padding: 12px 32px;
align-items: center;
gap: 10px;
}

.input1{
width: 100%;
  border-top:2px transparent ;
  border-left:2px transparent;
  border-right: 2px transparent;
  border-bottom: 2px solid;
  outline: none;
}



.container-foter{
 margin-top: 224px;
    background: #262626;
padding-bottom: 0px;
}


.vector{
  display: flex;
  gap: 16px;
  align-items: center;
}

.col-body3{
    display: flex;
    justify-content: end;
}

.btn-2{
    border: 1px solid  #05C0B5;
    background-color: transparent;
    color: #05C0B5;
    padding: 6px 14px;
}


.input-foter{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    padding-top: 16px;

}


.input-2{
    outline: none;
    border-top:2px transparent ;
    border-left:2px transparent;
    border-right: 2px transparent;
    background-color: transparent;
}


.border-endd{
   border-top: 2px solid gray;
   margin-top: 100px;
   outline: none;
   border-right: 2px transparent;
}






























@media screen and (max-width:970px) {

    .img-hover1 {

        top: 1820px;
        height: 360px;

    }

}


@media screen and (max-width:400px) {

    .img-hover1 {
display: none;
    }

}



@media screen and (max-width:760px) {

    .img-hover1 {

        top: 1920px;
        height: 360px;

    }

}

@media screen and (max-width:700px) {

    .img-hover1 {

        top: 1880px;
        height: 360px;

    }

}





@media screen and (max-width:574px) {

    .sub{
        padding-top: 20px;
    }

}


    @media screen and (max-width:550px) {

        .img-down {
            width: 400px;
            display: flex;
            justify-content: center;
            padding-left: 30px;
            text-align: center;
        }

        .img-hover1 {
            width: 400px;
            height: 250px;
            top: 1675px;
            left: 25px;
        }


    }

    @media screen and (max-width:434px) {

        .img-down {
            width: 330px;
            display: flex;
            justify-content: center;

            text-align: center;
        }



    }

    @media screen and (max-width:494px) {

        .img-hover1 {
            top: 1710px;
        }

    }

    @media screen and (max-width:464px) {

        .img-hover1 {
            top: 1770px;
        }

    }


    @media screen and (max-width:366px) {

        .img-down {
            width: 270px;
            display: flex;
            justify-content: center;

            text-align: center;
        }

    }